<!DOCTYPE html>
<html>
<head>
    <title>Looping Over Data</title>
</head>
<body>
    <h5>Siren:</h5>
    <label>{{company.siren}}</label></br>
    <h5>Nom raison sociale:</h5>
    <label>{{company.raisonSociale}}</label></br>
    <h5>Siret:</h5>
    <label>{{company.siret}}</label></br>
    <h5>Adresse:</h5>
    <label>{{company.adresse}}</label></br>

    <form action="{{ path('getDetailsApi') }}" method="post">
        <label for="fname">Salaire :</label><br>
        <input type="hidden" value="{{company.siren}}" name="siren" >
        <input type="text"  name="salaire" >
    </form>

    {% if content is defined %}
     <h4>avant impôt</h4>
     <p>la cotisation salariale  :{{content['evaluate'][0]['nodeValue']}}</p>
     <p>le coût employeur :{{content['evaluate'][0]['missingVariables']["salarié . cotisations . prévoyances . santé . taux employeur"]}}</p>
     <h4>Stage</h4>
     <p>la cotisation salariale  :{{content['evaluate'][1]['nodeValue']}}</p>
     <h4>alternant</h4>
     <p>la cotisation salariale  :{{content['evaluate'][2]['nodeValue']}}</p>
     <h4>CDD</h4>
     <p>la cotisation salariale  :{{content['evaluate'][3]['nodeValue']}}</p>
    {% endif %}
</body>
</html>
